<h1><%= t 'models.team.Edit team'%></h1>

<%= render "form", team: @team %>

<br>

<div>
  <%= link_to t('links.show this team'), @team, class:"btn btn-secondary" %> 
  <%= link_to t('links.back to teams'), teams_path, class:"btn btn-dark" %>
</div>
