<h1><%= t 'models.employee.Edit employee'%></h1>

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to t('links.show this employee'), @employee, class:"btn btn-secondary" %> 
  <%= link_to t('links.back to employees'), employees_path, class:"btn btn-dark" %>
</div>
