<h1><%= t 'models.division.Edit division'%></h1>

<%= render "form", division: @division %>

<br>

<div>
  <%= link_to t('links.show this division'), @division, class:"btn btn-secondary" %> 
  <%= link_to t('links.back to divisions'), divisions_path, class:"btn btn-dark" %>
</div>
