<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ( Copyright © 2022 - Sprints - Author: Hassan Al Moallim, Email: halmoallim@mrsool.co )
  </div>
  <!-- Copyright -->
</footer>